@charset "utf-8";

#modifiers-container {
  border: 2px solid var(--brown);
  border-radius: 8px;
  padding: 0px;
  display: flex;
}

.rotate, .delete {
  height: 30px;
  width: auto;
}

.rotate-path, .delete-path {
  fill: var(--green);
}

#rotate-bed-container, #delete-bed-container {
  padding: 10px;
  max-height: 30px;
  justify-content: center;
  align-items: center;
}